*.pyc
.ipynb_checkpoints/
google-landmark/
0/
1/
2/
3/
4/
5/
6/
7/
8/
9/
train.csv
train_clean.csv
train_attribution.csv
train_label_to_category.csv
kaggle-landmark-recognition-2020-1st-place/blend/config2
kaggle-landmark-recognition-2020-1st-place/blend/config3
kaggle-landmark-recognition-2020-1st-place/blend/config4
kaggle-landmark-recognition-2020-1st-place/blend/config5
kaggle-landmark-recognition-2020-1st-place/configs/config?.py
